.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    background-color: var(--color-bg-app);
}

.mainArea {
    display: flex;
    flex: 1;
    overflow: hidden;
    position: relative;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--color-bg-app);
}